body{
    margin: 0;
    padding: 0;
}
header{
    height:110px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sec1{
    display: flex;
    background-color: gold;
    justify-content: space-around;
    height: 30px;
    width:100%;
}
.leftul{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.div111{
    width: 100px;
    height: 30px;
    display: flex; 
}
.div333{
    width: 170px;
    height: 30px;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
.f1{
    margin-top: 8px;
}
.num{
    margin-top: 4px;
}
 .leftul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.leftul li{
    font-size: small;
    width:250px;
    height: 70%;
    padding: 5px;
    margin-inline: auto; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: rgb(80, 80, 80);
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons .ss{
    margin-inline:15px;
    margin-block:7px;
}
.icons a{
    margin-top: 5px;
    width: 30px;
    color: rgb(80, 80, 80);
    text-decoration: none;
    box-sizing: border-box;
}
/*sec one is done*/
.sec2{
    background-color: rgba(19, 23, 18, 0.924);
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
}
.sec2 .sa{
    width: 20%;
    align-items:start;
}

.sec2 h2{
    width: 240px;
    height: 100%;
    margin-block: 1px;
    color: white;
}
.sec2 h2 .const{
    color: gold;

}
.sec2 .ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
.sec2 .ul li{
    width: 80px;
}
.sec2 .ul li a{
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 60px;
  text-align: center;
  
}
.sec2 .ul li a:hover{
    background-color: orange;
}
.section1{
    margin-top: -20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/images/1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    filter:brightness(83%);
    -webkit-filter:brightness(83%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 h2:nth-of-type(1){
    color: white;
    size: medium;
}
.section1 h2:nth-of-type(2){
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.section1 h2:last-of-type{
    color: gold;
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif

}
.section1 h2{
    margin-block: 0%;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.section1 p{
    text-align: center;
    color: white;
    font-size: large;
    width:110vh
}
.section1 .alinks{
   width:400px;
   height: 100px;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
}
.section1 .alinks a{
    display: block;
    width: 113px;
  height: 22px;
  line-height: 20px;
  background-color: rgb(237, 191, 9);
  
  color: aliceblue;
  border: 9px solid transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}
.section2{
    height: 500px;
}
.section2 .inner{
    height: 100%;
    width: 75%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section2 .inner .s2img{
    width:300px;
    height: 300px;
}
.section2 .inner .s2img img{
    width: 450px;
    height: 328px;
    border: 2px solid transparent;
    border-radius: 10px;
}
.section2 .inner .cont{
    width:490px;
}
.section2 .inner .cont h2{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
.section2 .inner .cont h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
.section2 .inner .cont a{
    display: block;
    text-decoration: none;
    background-color: gold;
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: white;
    font-weight: bold;
}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(206, 244, 244);
}
.section3 .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3 .contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
.box1, .box2, .box3, .box4{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;

}
.box1 img, .box2 img, .box3 img, .box4 img{
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-box-shadow: -6px 3px 41px 9px rgba(230,174,32,0.75);
    -moz-box-shadow: -6px 3px 41px 9px rgba(230,174,32,0.75);
    box-shadow: -6px 3px 41px 9px rgba(230,174,32,0.75);
}
.box1 p, .box2 p, .box3 p, .box4 p{
    width: 217px;
    text-align: center;
}
.section3 .header h2{
    font-size: xx-large;
    font-weight: bold;
}
.section4 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    margin-block: 17px;
}
.section4 .header4{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}
.section4 .content4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section4 .content4 .b1 img, .section4 .content4 .b2 img, .section4 .content4 .b3 img{ width: 400px; height: 200px; border: 2px solid transparent; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;
}
.section4 .content4 .b1 , .section4 .content4 .b2 , .section4 .content4 .b3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.section4 .content4 .b1 p, .section4 .content4 .b2 p, .section4 .content4 .b3 p{
    text-align: start;
    font-size: large;
    font-style: italic;
}
.section4 .content4 .b1 a, .section4 .content4 .b2 a, .section4 .content4 .b3 a{
    text-decoration: none;
    background-color: gold;
    color: white;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.section4 .content4 .b1 h2, .section4 .content4 .b2 h2, .section4 .content4 .b3 h2{
    font-weight: bold;
    font-size: x-large;
}
.section5{
    height: 130px;
    background-color: rgb(237, 185, 54);
    display: flex;
    flex-direction: row;
}
.section5 .inner{
    width: 80%;
    margin-inline:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section5 .inner h2{
    font-size: xx-large;
    color: black;
    font-weight: bold;
}
.section5 .inner h3{
    font-size: x-large;
    color: rgb(66, 63, 63);
}
.form{
    display: flex;
    flex-direction: column;
}
.form .top input , .form .bottom input{
    border: 3px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-block: 5px;
}
.form .bottom a{
    display: inline-block;
    width: 93px;
    height: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 5px;
}
.rf{
    width: 229px;
}
.last{
    height:765px;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../images/images/6.png) no-repeat center / cover;
    display: flex;
    justify-content: space-around;
}
footer{
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: rgb(55, 54, 54);
}
footer h2{
    font-size: medium;
    height: 40px;
}
.last .last1 h2, .last2 h2,.last .last3 h2,.last .last4 h2{
    color: white;
    font-size: xx-large;
}
.last .last1 ul,.last .last2 ul,.last .last3 ul,.last .last4 ul{
    list-style: none;
}
.last2 ul li{
    position:relative;
    top: -10px;
    left: -25px;
}
.last2 ul li::before{
    position: absolute;
    content: '\2022';
    font-size: 30px;
    left: -20px;
    top: -6px;
}
.last .last1 ul li,.last .last2 ul li,.last .last3 ul li,.last .last4 ul li{
    color: rgba(249, 249, 249, 0.978);
    font-size: 21px;
    margin-block: 10px;
}
.last1 h3{
    color: gold;
    font-size: larger;
    font-style: italic;
    margin-bottom: -21px;
}
.last1 h4{
    color: white;
    opacity: 50%;
}
.last1 p{
    width: 300px;
    color: white;
    font-size: large;
}
.last1,.last2,.last3,.last4{
    width: 500px;
    padding: 40px;
    text-align: left;
    margin-inline:35px;
}
.sss{
   display: block;
   margin-top: -20px;
}
.only{
    display: none;
}
.latest{
    position: relative;
}
.latest .sh1{
    position: absolute;
    left: -30px;
    top: 4px;
    width: 20px;
    height: 22px;
    color: white;
}
.last3 ul{
    width: 233px;
    position:relative;
    left: -15px;
}
.contact{
    display: flex;
    position: relative;
}
.last4 ul{
    position: relative;
    left: -13px;
    top: -18px;
}
.as1{
    color: white;
    position: absolute;
    left: -22px;
    top: 17px;
}
.iconss{
    width: 202px;
    position: relative;
    top: 727px;
    left: -655px;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .iconsss{
    width: 25px;
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: gold;
    margin-inline: 10px;
  }
@media screen and (max-width: 1350px){
    .sec1{
        position: relative;
        top: -500px;
     }
     .sec2 {
        position: relative;
        top: -30px;
    }
    header{
        height: 80px;
    }
    .section1 p {
        width: 54vh;
      }
      .section2 {
        height: 740px;
      }
      .section2 .inner {
        flex-direction: column;
        align-items: baseline;
      }
      .section3 {
        height: 1355px;
      }
      .section3 {
        display: flex;
        flex-direction: column;
        background-color: rgb(206, 244, 244);
        justify-content: flex-start;
    }
    .section3 .contents {
        margin-top: 50px;
        height: 1200px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .box1 h3,.box2 h3,.box3 h3,.box4 h3{
        width: 180px;
        text-align: center;
      }
      .section4{
        height: 1200px;
      }
      .section4 .content4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1195px;
      }
      .section4 .content4 .b1, .section4 .content4 .b2, .section4 .content4 .b3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 6px;
      }
      .section4 .content4 .b1 p, .section4 .content4 .b2 p, .section4 .content4 .b3 p {
        font-size: large;
        font-style: italic;
        margin-top: -10px;
        width: 400px;
        text-align: center;
      }
      .last{
        height:900px;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .lastsec1 , .lastsec2{
        display:flex;
      }
      .iconss{
        width: 80%;
        margin-inline: auto;
        display: flex;
      }
      .iconsss{
        width: 25px;
        border: 2px solid transparent;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: gold;
        margin-inline: 10px;
}
}
@media only screen and (max-width: 600px)
{
 .sec1{
    position: relative;
    top: -500px;
 }
 .sec2 .ul{
    display: none;
 }
 .sec2{
    height: 65px;
    justify-content: space-around;
    position: relative;
    top: -31px;
 }
 .sec2 .s2{
    display: block;
   margin-block: 11px;
   font-size: xx-large
 }
 .sec2 .s2:hover{
    color:gold;
    cursor: pointer;
 }
 .section1{
    margin-top:-46px;
 }
 .sec2 .sa {
    width: 96%;
    align-items: start;
  }
  .only{
    display: block;
  }
  .sec2 a{

        position: relative;
        top: 3px;
        right: 26px;
        font-size: 28px;
        text-decoration: none;
        color: white;
  }
  .section1 p {
    width: 45vh;
  }
  .section5 .inner h2 {
    font-size: larger;
    color: black;
    font-weight: bold;
  }
  .last {
    height: 1362px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .lastsec1,.lastsec2{
    flex-direction: column;
  }
  .content5{
    height: 100%;
  }
  .section5 .inner h2,.section5 .inner h3{
    font-size: medium;
    color: black;
    font-weight: bold;
  }
  
  #rul:target{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    top:50px;
    right: 40px;
  }
}